<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Add Defect</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div id="main-content" class="container">
    <div class="jumbotron">
        <h1>Defect Registration System</h1>
        <p>by Dusinski</p>
    </div>
    <form class="form-group" th:action="@{/addDefect}" th:object="${defectForm}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="defectowner">Defect owner:</label>
            <select th:field="*{defectOwner}" class="form-control" id="defectowner">
                <option th:each="owner : ${defectOwner}" th:value="${owner.name}" th:text="${owner.name}"></option>
            </select>
            <h3 th:if="${#fields.hasErrors('defectOwner')}" th:errors="*{defectOwner}">Owner Error</h3>
        </div>
        <div class="form-group">
            <label for="defectType">Defect type:</label>
            <select th:field="*{defectType}" class="form-control" id="defectType">
                <option th:value="Electric">Electric</option>
                <option th:value="Structure">Structure</option>
                <option th:value="Installation">Installation</option>
            </select>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" th:field="*{description}" class="form-control" id="description">
            <h3 th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</h3>

        </div>
        <div class="form-group">
            <label for="date">Date of occur:</label>
            <input type="date" th:field="*{defectDate}" class="form-control" id="date">
            <h3 th:if="${#fields.hasErrors('defectDate')}" th:errors="*{defectDate}">Date Error</h3>
        </div>
        <div class="form-group">
            <input type="file" name="file">
            <intput type="submit" value="Upload"></intput>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <form class="form-group" th:action="@{/}" method="get">
        <button type="submit" class="btn btn-default">Go Menu</button>
    </form>
</div>

</body>
</html>
