<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Defect List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" th:object="${defectList}">
<table class="table">
    <thead>
    <tr>
        <td>Defekt Owner</td>
        <td>Defekt Type</td>
        <td>Defekt Description</td>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="defect:${defectList}">
        <td th:text="${defect.getDefectOwner()}"></td>
        <td th:text="${defect.getDefectType()}"></td>
        <td th:text="${defect.getDescription()}"></td>
    </tr>
    </tbody>
</table>
    <form class="form-group" th:action="@{/}" method ="get">
        <button type="submit" class="btn btn-default">Go Menu</button>
    </form>
</div>
</body>
</html>
